<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<br>
 <h2 align="centre">Accounts </h2>
 <br>
    <table class="table">
        <th class="table-dark">ID</th>
        <th class="table-dark">Name</th>
        <th class="table-dark">Balance</th>
        <th class="table-dark">Currency</th>
        <th class="table-dark">Account Type</th>
        {{#accounts}}
         <tr>
             <td scope="col" class ="table-primary">{{id}}</td>
             <td scope="col" class ="table-primary">{{name}}</td>
             <td scope="col" class ="table-primary">{{balance}}</td>
             <td scope="col"class ="table-primary">{{currency}}</td>
             <td scope="col" class ="table-primary">{{accountType}}</td>
         </tr>
        {{/accounts}}
    </table>
    <footer>

    </footer>
</body>
</html>