<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
<br>
<h2 class="text-center"> TRANSACTIONS</h2>
</br>
<table id="accountsTable" class = "table">
    <thead>
    <th class="table-dark">Withdraw Account</th>
    <th class="table-dark">Deposit Account</th>
    <th class="table-dark">Timestamp</th>
    <th class="table-dark">ID</th>
    <th class="table-dark">Amount</th>
    <th class="table-dark">Currency</th>
    </thead>
    <tbody>
    {{#transactions}}
        <tr>
            <td scope="col" class ="table-primary">{{withdrawAccount}}</td>
            <td scope="col" class ="table-primary">{{depositAccount}}</td>
            <td scope="col" class ="table-primary">{{timestamp}}</td>
            <td scope="col"class ="table-primary">{{id}}</td>
            <td scope="col" class ="table-primary">{{amount}}</td>
            <td scope="col" class ="table-primary">{{currency}}</td>
        </tr>
    {{/transactions}}
    </tbody>
</table>
 <script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
 <script type = "text/javascript" charset = "utf8" src = "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 <script type = "text/javascript" charset = "utf8" src = "https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
 <script src="https://www.YourSite.com/wp-content/JS/table-export.js"></script>
<script> $(document).ready(function() {$('#accountsTable').DataTable({"pageLength": 20})}); </script>
    <script>
</body>
</html>